<html >
<head>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <title>Spring5</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-light">

    <form  class="form-group "  action="/login" method="post"   >

        <div class=" mx-auto my-5 "  style="width: 300px;">

            <label ><h3>Please sign in</h3></label>
            <input type="text" id="login" name="j_username"  class="form-control " placeholder="Email address">

            <input type="password"  id="password" name="j_password" class="form-control" placeholder="Password">

            <button type="submit"  class="btn btn-primary my-2  btn-block signIn">Sign in</button>
        </div>

    </form>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery-cookie/1.4.1/jquery.cookie.js"></script>

</body>
</html>
